.editor {
  margin-bottom: 3vh;
  display: flex;
}

.text-editor {
  width: 100%;
}

$lyrics-color: #fff;
$call-color: rgb(34, 202, 84);
$comment-color: rgb(151, 177, 187);
$calllyrics-color: rgb(24, 107, 231);

.interactive-editor {
  flex: 2;
  max-height: 75vh;
  overflow: auto;
  margin-right: 30px;

  .line {
    display: flex;
    margin-bottom: 3px;
  }

  .line[data-passed='true'] {
    .word:not(.add) {
      opacity: 0.6;
    }
  }

  .line-number {
    width: 60px;
    display: flex;
    cursor: pointer;
    color: rgb(95, 152, 190);

    span {
      margin: auto;
    }
  }

  .words {
    display: flex;

    .word {
      padding: 8px 10px;
      border-radius: 8px;
      background: rgb(36, 36, 36);
      font-size: 16px;
      min-height: 24px;
      cursor: pointer;
      border: 1px solid transparent;

      margin-right: 3px;
      z-index: 10;

      &[data-passed='true'] {
        opacity: 0.6;
      }

      &[data-space='true'] {
        margin-right: 9px;
      }

      &[data-type='1'] {
        color: $call-color;
      }

      &[data-type='2'] {
        color: $comment-color;
      }

      &[data-type='3'] {
        color: $calllyrics-color;
      }

      &[data-active='true'] {
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 6px rgb(56, 133, 221);

        &[data-type='0'] {
          color: rgb(111, 126, 139);
          text-shadow: 0px 0px 6px rgb(0, 0, 0);
        }
      }

      .space {
        opacity: 0.4;
      }

      .bracket {
        color: rgb(224, 135, 99);
      }

      &.selected {
        background: rgb(54, 67, 73);
        border: 1px solid rgb(95, 116, 126);
      }

      &.add {
        background: transparent;
        display: none;
        margin-left: -9px;
        z-index: 9;
      }
    }
  }

  &.mode-add {
    .words {
      .word {
        &:not(.add):hover + .word.add {
          display: block;
        }

        &.add {
          background: transparent;
          display: none;
          margin-left: -9px;
          z-index: 9;

          &[data-index='0'] {
            margin-left: unset;
            margin-right: -9px;
          }

          &[data-index='0'].add {
            margin-left: -9px;
            margin-right: unset;
          }

          &.line,
          &.upLine {
            display: block;
          }

          &.upLine:hover + .word.add {
            display: block;
          }

          &.show,
          &:hover {
            display: block;
          }

          &:hover {
            background: rgb(37, 37, 37);
          }
        }
      }
    }
  }
}

.interactive-properties {
  flex: 1;

  .item {
    margin-bottom: 10px;
    display: flex;

    .button {
      margin-left: 30px;
    }
  }

  input[type='number'], input[type='text'] {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid rgb(26, 96, 226);
    color: #fff;

    padding: 5px 20px;
  }

  label {
    margin-left: 10px;
  }

  .radiobox {
    display: flex;

    .radio {
      padding: 5px 20px;
    }
  }

  .lyrics {
    color: $lyrics-color;
  }

  .call {
    color: $call-color;
  }

  .comment {
    color: $comment-color;
  }

  .calllyrics {
    color: $calllyrics-color;
  }
}
