.metadata-editor {
  input[type='number'],
  input[type='text'] {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid rgb(26, 96, 226);
    color: #fff;

    padding: 5px 20px;
  }

  .section {
    margin-bottom: 40px;

    .item {
      margin-bottom: 20px;
    }
  }
}
