$link-color: rgb(0, 102, 255);

.done-tab {
  max-width: 600px;
  margin: auto;

  a {
    color: $link-color;
    text-decoration: none;
    transition: 0.3s color cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      color: darken($link-color, 10);
    }
  }

  .button-group {
    display: flex;

    & > .button {
      margin: auto;
    }
  }
}
